{block content}
    <h1 n:block="title" class="page-header">{$userHasPassword ? 'Nastavit heslo' : 'Změnit heslo'}</h1>

    <a n:href="Profile:show $user->id" class="btn btn-default">Zpět na profil</a>
    <hr>

    <div class="row">
        <div class="col-md-6">
            {if $userHasPassword}
                {control changePasswordForm}
            {else}
                {control setPasswordForm}
            {/if}
        </div>
    </div>


{/block}