
## Directory-based project format:
.idea/

# CakePHP 3

/vendor/*
temp/*
log/*
bin/*
0_configs/
0_vyjimky/*
/www/css/
/www/assets/files/*
/www/assets/files_images/*
/www/assets/noimage/*
/www/assets/profile/*
