parameters:


database:
	dsn: 'mysql:host=wm81.wedos.net;dbname=d95456_kiis3'
	user: a95456_kiis3
	password: jDb2aQ3x
	options:
		lazy: yes

#security:
#    users:
#        admin: secret  # user 'admin', password 'secret'