.sign-for-event-dropdown {
  min-width: 300px !important;
  padding: 10px 20px;
}

.profile-badge.sign-type-maybe, .profile-badge.sign-type-no {
  background: #f6f3f3;
  border-color: #ececec;
  img, .name {
    opacity: 0.5;
  }
}

a.event-link {
  color: inherit;
}

.event-block {
  position: relative;
  .event-thumb {
    opacity: 0;
    transition: opacity 0.2s;
    width: 445px;
    position: absolute;
    left: 105%;
    top: 0;
    display: none;
    @media screen and (min-width: 1000px) {
      display: block;
    }
  }


  &:hover {
    .event-thumb {
      opacity: 1;
    }
  }
}



a.event-link:hover {
  text-decoration: none;

  .event {
    border-color: $brand-primary;
    transition: border-color 0.2s;
  }
}

.panel.event {
  position: relative;
  border-radius: 10px;

  .panel-body {
    &:after {
      content: ' ';
      width: 20px;
      display: block;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      background: transparent;
    }
  }

  h3 {
    margin-top: 8px;
  }

  &.sign-type-no {
    color: #d5d5d5;
    h3 {
      //font-size: 16px;
      margin: 0;
    }
    p {
      margin: 0;
    }
  }

  &.sign-type-yes {
    border-left: 10px solid #4CAF50;
    //.panel-body:after {
    //  background: #4CAF50;
    //}
  }

  &.sign-type-maybe {
    border-left: 10px solid #ff9800;
    //.panel-body:after {
    //  background: #ff9800;
    //}
  }
}

.btn.add-event-thread {
  position: relative;
  top: -2px;
}