<p>Hurá, {$name} bude používat KIIS!</p>

<p>Klikni prosím na tenhle odkaz a potvrď tím svou mailovou adresu:</p>

<br>
<a href="{$baseUrl}{link Sign:confirmRegistration $token}">{$baseUrl}{link Sign:confirmRegistration $token}</a>
<br>

<p>Těšíme se na Tebe!</p>

<p>Klub Hrádek</p>