    <p>Klikni prosím na odkaz pro obnovu hesla.</p>

<br>
<a href="{$baseUrl}{link Sign:resetPassword login=>$email_encoded,token=>$token}">{$baseUrl}{link Sign:resetPassword login=>$email_encoded,token=>$token}</a>
<br>

<p>Na viděnou!</p>

<p>Klub Hrádek.</p>