{block content}


    <h1 n:block="title" class="page-header">Obnovit heslo</h1>
        <a class="btn btn-default" n:href="Sign:default">Zpět na přihlášení</a>
    <hr>
    <div class="row">
        <div class="col-md-6">

                <p class="mb10">Ztratil jsi své heslo? Napiš sem svůj email a my ti pošleme odkaz na nastavení nového.</p>

                {control passwordRecoveryForm}

            </div>
        </div>
    </div>



{/block}