{block content}
    <h1 n:block="title" class="page-header">Nastavení nového hesla</h1>
    <a n:href="Sign:default" class="btn btn-default">Už jsem si vzpomněl</a>
    <hr>
    <div class="row">
        <div class="col-md-6">

            {control changePasswordForm}

        </div>
    </div>
{/block}
