<filesmatch "\.(txt)$">
order allow,deny
deny from all
</filesmatch>

php_flag display_errors on
php_value error_reporting 6143

php_value max_execution_time 5

Options -Indexes 
DirectoryIndex  kiis.php index.php

allow from all

RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

# poznamka