{block content}
<h1 class="page-header" n:block="title">Kalendář akcí</h1>

    <a class="pull-right btn btn-link" n:href="Event:exportCalendar">Přidat akce do Google Kalendáře</a>
    {control calendar}
{/block}