<p>Ahoj,</p>

<p>Následující akce jsou už za rohem a zatím nemáme tvé vyjádření, jestli pojedeš. </p>
<br>
{foreach $events as $event}
    <p><strong><a n:href="Event:show $event->id">{$event->title}</a></strong> ({$event->date_from|timeagoinwords})</p>
{/foreach}
<br>

<p>Díky!</p>

<p>Klub Hrádek</p>
<p><a href="{$baseUrl}">{$baseUrl}</a></p>