{block content}

    <h1 class="page-header">Upravit příspěvek</h1>

    <a n:href="Thread:show#post-$postId $threadId" class="btn btn-default">Zpět na diskusi</a>

    <hr>
    {control editPostForm}

{/block}

{block templateScripts}

{/block}