{block content}

   <h1 class="page-header">Upravit diskusi</h1>

   <a n:href="Thread:show $threadId" class="btn btn-default">Zpět na diskusi</a>

   <hr>
   {control editThreadForm}

{/block}

{block templateScripts}

{/block}